<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label>UserName: </label>
      <input type="text" class="form-control" [(ngModel)]="username">
      <p> {{ username }} </p>
      <button 
      type="button" class="btn btn-primary" 
      [disabled]="username === ''"
      (click)="username =''">Reset User</button>
    </div>
  </div>
</div>
--> 

 <!--Easy way of solving Toggle -->
<!-- <button class="btn btn-primary" (click)="buttonPress = !buttonPress">Display Details</button> -->

<button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
<p *ngIf ='buttonPress'> This is the greatest content ever</p>
<div  
*ngFor="let logItem of log" 
[ngStyle]="{backgroundColor: logItem >= 5 ? 'red' : 'green'}"
[ngClass]="{'white-text': logItem >= 5}">
{{ logItem }}  
</div>

